@import 'Articles.css';
@import 'title.css';
@import 'color.css';
@import 'fontWeight.css';
@import 'width.css';
@import 'editBar.css';
@import 'image.css';
@import 'subArticle.css';
@import 'main-content.css';
@import 'colorbuttons.css';
@import 'navBar.css';
@import 'footer.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
}

button {
  margin: 5px auto;
  transition: 0.5s;
}

button:hover{
  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
