/* Title position */
.h1-center{
  justify-content: center;
}

.h1-center textarea {
  text-align: center;
}

.h1-left{
  justify-content: flex-start;
}

.h1-right textarea{
  text-align: end;
}

.h1-right {
  justify-content: flex-end;
}

textarea{
  width: 100%;
}
